<div class="search-container" >
  <form [formGroup]="searchForm" (ngSubmit)="searchProducts()">
    <input type="text" formControlName="searchTerm" placeholder="Buscar por título del producto">
    <button type="submit">
      <i class="fas fa-search"></i>
    </button>
  </form>
</div>

<div class="card-slider">
  <div class="card" *ngFor="let product of products">
      <img [src]="product?.images[0]" alt="Card Image" [routerLink]="['/products/', product?.id]">
      <button class="addButton" (click)="addProductToSidebar(product)">
          <i class="fa fa-cart-plus" aria-hidden="true"></i>
      </button>
      <div class="card-content" [routerLink]="['/products/', product?.id]">
          <h3>{{ product?.title }}</h3>
          <h3>{{ product?.category?.name }}</h3>
          <p class="card-price">{{ product?.price | currency: 'USD' : 'symbol' : '1.2-2'}}</p>
          <p>{{ product?.description}}</p>
      </div>
  </div>
</div>