<div class="product">
  <img class="product-image" [src]="product?.images[0]">
  <div class="product-info">
    <h2 class="product-title">{{product?.title}}</h2>
    <p class="product-price">Precio: {{ product?.price | currency: 'USD' : 'symbol' : '1.2-2'}}</p>
    <p class="product-description">Descripción: {{ product?.description}}</p>
    <button class="add-to-cart" (click)="addProductToSidebar()"><i class="fa fa-cart-plus" aria-hidden="true"></i> Agregar al carrito</button>
    <button class="remove-to-cart" (click)="removeProductToSidebar()"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</button>
  </div>
</div>
