
<div class="cart-container">
  <div class="cart-header">
    <h2>Carro ({{products.length + ' productos'}})</h2>
  </div>
  <div>
    <hr style="width: 100%;color: #313131;">
    <div class="cart-items">
      <div class="cart-item" *ngFor="let uniqueProduct  of uniqueProducts">
        <div class="cart-item-image">
          <img [src]="uniqueProduct.product?.images[0]"/>
        </div>
        <div class="cart-item-info">
          <div class="cart-item-name">
            <p>{{uniqueProduct.product?.title}}</p>
          </div>
        </div>
        <div class="cart-item-price">
          <p>{{ uniqueProduct.product?.price | currency: 'USD' : 'symbol' : '1.2-2'}}</p>
        </div>
        <div class="cart-item-quantity">
          <p>{{ uniqueProduct.quantity }}</p>
        </div>
        <div>
          <button class="remove-to-cart" (click)="removeProductToSidebar(uniqueProduct.product)"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
    <hr style="width: 100%;color: #313131;">
    <div class="download-container">
      <select [formControl]="selectValue" class="select-input">
        <option value="xlsx">xlsx</option>
        <option value="CSV">CSV</option>
      </select>
      <button class="download-button" (click)="downloadProducts()">Descargar</button>
    </div>
  </div>

</div>