<div class="cart-container">
  <div class="cart-header">
    <h2>Carrito de compras</h2>
  </div>
  <div>
    <div class="cart-items">
      <div class="cart-item">
        <div class="cart-item-image">
          <img src="https://images.unsplash.com/photo-1551434678-e076c223a692?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd"/>
        </div>
        <div class="cart-item-info">
          <div class="cart-item-name">
            <p>{{'zapatos'}}</p>
          </div>
        </div>
        <div class="cart-item-price">
          <p>{{ 45000 | currency: 'USD' : 'symbol' : '1.2-2'}}</p>
        </div>
        <div class="cart-item-quantity">
          <p>{{ 5 }}</p>
        </div>
      </div>
      <hr style="width: 100%;color: #313131;">
    </div>
  </div>
</div>