<footer class="footer">
    <div class="footer-content">
      <p style="font-size: 30px;">Bank Ink</p>
    </div>
    <div style="text-align: center;font-size: 28px;display: flex;justify-content: center;">
        <i class="fa-brands fa-github-alt"></i>
    </div>
    <div style="text-align: center;font-size: 12px;display: flex;justify-content: center;padding: 10px;">
        <a href="https://github.com/javier12casta/MarketPlacePrueba" style="color: white;cursor: pointer;text-decoration: none;">Developed by javier12casta</a>
    </div>
    <div style="text-align: center;margin-top: 30px;">
        <small>Copyright &copy; Bank Ink</small>
    </div>
  </footer>