.sidenav {
    position: fixed;
    top: 81px;
    right: 0;
    height: 100%;
    width: 360px;
    background-color: #fff;
    z-index: 100;
    border-left: 5px #181818;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);    
}