

<header style="position: sticky;top: 0;">
  <nav>
    <ul class='nav-bar'>
      <li class='logo'><a routerLink="/" class="logo_text">Bank Ink</a></li>
      <li class="search-menu1">
        <form [formGroup]="searchForm" (ngSubmit)="searchProducts()">
          <div class="search-container">
            <input type="text" placeholder="Buscar..." formControlName="searchValue" value="">
            <button (click)="searchProducts()">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </form>
      </li>

      <input type='checkbox' id='check' />
      <span class="menu">
        <li class="search-menu2">
          <form [formGroup]="searchForm" (ngSubmit)="searchProducts()">
            <div class="search-container">
              <input type="text" placeholder="Buscar..." formControlName="searchValue" value="">
              <button (click)="searchProducts()">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>
        </li>
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/products">Productos</a></li>
        <li><a routerLink="/categories">Categorias</a></li>
        <!--         <li><a routerLink="/products">About</a></li>
                <li><a routerLink="/products">Contact</a></li> -->

        <label for="check" class="close-menu"><i class="fas fa-times"></i></label>
      </span>
      <li class="cart-container">
        <div >
          <button class="cart" (click)="openSideBar()"><i class="fa-sharp fa-solid fa-cart-shopping" ></i></button>
          <span class="cart-counter">{{cartCounter}}</span>
        </div>
      </li>
      <!-- menu mobile -->
      <label for="check" class="open-menu"><i class="fas fa-bars"></i></label>
    </ul>
  </nav>


</header>

