<div class="sidenav" *ngIf="isSidebarOpen">
  <app-shoppingCart></app-shoppingCart>
</div>

<header style="position: sticky;top: 0;">
  <nav>
    <ul class='nav-bar'>
      <li class='logo'><a href='#' class="logo_text">Bank Ink</a></li>
      <li class="search-menu1">
        <div class="search-container">
          <input type="text" placeholder="Buscar...">
          <button>
            <i class="fas fa-search"></i>
          </button>
        </div>
      </li>

      <input type='checkbox' id='check' />
      <span class="menu">
        <li class="search-menu2">
          <div class="search-container">
            <input type="text" placeholder="Search...">
            <button>
              <i class="fas fa-search"></i>
            </button>
          </div>
        </li>
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/products">Productos</a></li>
        <li><a routerLink="/categories">Categorias</a></li>
        <!--         <li><a routerLink="/products">About</a></li>
                <li><a routerLink="/products">Contact</a></li> -->

        <label for="check" class="close-menu"><i class="fas fa-times"></i></label>
      </span>
      <li class="cart-container">
        <div >
          <button class="cart" (click)="openSideBar()"><i class="fa-sharp fa-solid fa-cart-shopping" ></i></button>
          <span class="cart-counter">0</span>
        </div>
      </li>
      <!-- menu mobile -->
      <label for="check" class="open-menu"><i class="fas fa-bars"></i></label>
    </ul>
  </nav>


</header>

